<h1>Create New Trainer</h1>
<form action="/trainer" method="POST">
    <label for="trainer">Trainer</label>
    <input type="text" name="trainer" id="trainer" required minlength="1">
    <button>Create</button>
</form>
<br>
<a href="/">Back</a>