<h1>Create New Category</h1>
<form action="/category" method="POST">
    <label for="category">Category</label>
    <input id="category" name="category" type="text" required minlength="1">
    <button>Create</button>
</form>
<br>
<a href="/">Back</a>